version: "3.7"
services:
  nginx:
    image: nginx:1.19.5
    networks:
      - gis_1ban_0_network
    volumes:
    - gis_1ban_0_static:/data/static/
    - gis_1ban_0_media:/data/media/
    - /home/ubuntu/nginx.conf:/etc/nginx/nginx.conf
    ports:
    - 80:80

  django:
    image: gis_1ban_0_django:4
    networks:
      - gis_1ban_0_network
    secrets:
      - DJANGO_SECRET_KEY
      - MARIADB_USER
      - MARIADB_PASSWORD
    volumes:
    - gis_1ban_0_static:/home/GIS-1ban-ks/staticfiles/
    - gis_1ban_0_media:/home/GIS-1ban-ks/media/

  mariadb:
    image: mariadb:10.5
    networks:
      - gis_1ban_0_network
    volumes:
      - gis_mariadb:/var/lib/mysql
    secrets:
      - MARIADB_USER
      - MARIADB_PASSWORD
      - MARIADB_ROOT_PASSWORD
    environment:
      MARIADB_PASSWORD: password1234
      MARIADB_ROOT_PASSWORD: password1234
      MARIADB_DATABASE: django
      MARIADB_USER: django


networks: # 네트워크 생성 선언
  gis_1ban_0_network:

volumes:  # 볼륨 생성 선언
  gis_1ban_0_static:
  gis_1ban_0_media:
  gis_mariadb:


secrets: # 보안키 생성 선언
  MARIADB_USER:
    external: true # 시크릿키는 외부에서 받는 형식이라 따로 설정값 입력
  MARIADB_PASSWORD:
    external: true
  MARIADB_ROOT_PASSWORD:
    external: true
  DJANGO_SECRET_KEY:
    external: true


