version: "3.7"
services:
  nginx:
    image: nginx:1.19.5
    networks:
      - gis_1ban_0_network
    volumes:
    - gis_1ban_0_static:/data/static/
    - gis_1ban_0_media:/data/media
    - /home/ubuntu/nginx.conf:/etc/nginx/nginx.conf
    ports:
    - 80:80

  django:
    image: gis_1ban_0_django:3
    networks:
      - gis_1ban_0_network
    volumes:
    - gis_1ban_0_static:/home/GIS-1ban-ks/staticfiles/
    - :/home/GIS-1ban-ks/media/

networks: #네트워크 생성
  gis_1ban_0_network:

volumes:  # 볼륨생성
  gis_1ban_0_static:
  gis_1ban_0_media: