{% extends 'base.html' %}

{% block content %}


    <div class="text-center">
       <div>
           <h4>Sign Up</h4>
       </div>
        <div class="m-5"> {#form_class = UserCreationForm으로 이미 모양 다 만들어둔 상태임#}
           <form action="{% url 'accountapp:create' %}" method="post">
               {% csrf_token %}
               {{ form }}
               <div class="m-4">
                   <input type="submit" class="btn btn-dark rounded-pill px-5">
               </div>
           </form>
       </div>
    </div>


{% endblock %}