{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}


    <div class="text-center mw-500 m-auto">
       <div>
           <h4>Login</h4>
       </div>
        <div class="m-5"> {#form_class = UserCreationForm으로 이미 모양 다 만들어둔 상태임#}
           <form action="{% url 'accountapp:login' %}" method="post">
               {% csrf_token %}
               {% bootstrap_form form %}
               <div class="m-4">
                   <input type="submit" class="btn btn-dark rounded-pill px-5">
               </div>
           </form>
       </div>
    </div>


{% endblock %}