.bonbon_header_logo{
    margin: 2rem 0;
    font-family: 'Otomanopee One', sans-serif;
}

.BonBon_header_button{
    margin-bottom: 2rem;

}

.BonBon_footer_logo{
    margin-bottom: 2rem;
}

.BonBon_footer_button{
    margin: 1.5rem 0; font-family: 'Otomanopee One', sans-serif;
}

.mw-500{
    max-width: 500px;
    margin: 1rem 1.5rem;

}

.profile_image{
    width: 12rem;
    height: 12rem;
    border-radius: 20rem;
    object-fit: cover;
}

.NNS_B {
    font-family: 'NanumSquareB', cursive;
}

.round_button {
    color: black;
    text-decoration: none;
    box-shadow: 0 0 5px black;
    border-radius: 20rem;
    padding: 0.3rem;
}

.round_button:hover {
    color: lightcoral;
}

