.bonbon_header_logo{
    margin: 2rem 0;
    font-family: 'Otomanopee One', sans-serif;
}

.BonBon_header_button{
    margin-bottom: 2rem;

}

.BonBon_footer_logo{
    margin-bottom: 2rem;
}

.BonBon_footer_button{
    margin: 1.5rem 0; font-family: 'Otomanopee One', sans-serif;
}
